

footer{

padding-top: 20px;
width: 85%;
margin: 0 auto;

    .lang{
        li:first-child{
        color: gray !important;
        }

    li{
        color: $fbcolor;
        list-style-type: none;
        display: inline-block;
        padding-right: 10px;
        font-size: 14px;
        cursor: pointer;
    }
}

   button{
       width: 35px;
       height: 25px;
       border: 1px solid lightgray;
       border-radius: 2px;
       font-size: 20px;
       color: $textcolor;
       font-weight: bold;
       background: whitesmoke;
       cursor: pointer;
   }

   .links{
       
         margin-top: 10px;
         margin-bottom: 20px;
        li{
                font-size: 14px;
                color: $fbcolor;
                list-style: none;
                display: inline-block;
                padding-right: 20px;
                line-height: 1.5;
                cursor: pointer;
        }

   }
  .copyright{
      color: gray;
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 20px; 
  }

}